@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root{
  --background: white;
  --text: black;
  --taskbarBackground: #343a40;
  --taskbarText: white;
  --taskbarHover: darkgray;
}

html{
	font-family: 'Open Sans', sans-serif;
}

body{
  background-color: var(--background);
  color: var(--text);
}

i{
	font-size: 2em;
  display: inline;
}

#gameTitle{
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;


   -ms-user-select: none;
   user-select: none;
}

p{
	margin-top: none;
	padding-top: none;
	padding-left: 1em;
	font-weight: bold;
}

input{
	margin-left: 5em;
}

.button{
  font-family: 'Open Sans', sans-serif;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover{
  cursor: pointer;
  background-color: #71c174;
}

#timer:hover{
  color: #8080ff;
  cursor: pointer;
}

#correctIcon{
  color:#4CAF50;
}

#wrongIcon{
  color:red;
}

#streakIcon{
  color: #e25822;
}

.navbar-custom{
  background-color: var(--taskbarBackground);
  color: var(--taskbarText);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

li {
  float: right;
}

li a {
  display: block;
  color: var(--taskbarText);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: var(--taskbarHover);
  text-decoration: none;
}

p{
  font-weight: normal;
  padding: 0em;
}

.theme-switch{
  --background: #343a40;
  --text: white;
  --taskbarBackground: #004d66;
  --taskbarText: white;
  --taskbarHover: lightgray;
}

#instructionsModal{
  color: var(--text);
}

#timerModal{
  color: var(--text);
}

.modal-header{
  background-color: var(--background);
}

.modal-body{
  background-color: var(--background);
}